.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin-left: 48px;
  color: #2f80ed;
  opacity: 100%;
  transition: opacity linear 0.2s;
  text-decoration: none;
  align-self: flex-start;
}

.khan__buy-link:hover {
  opacity: 50%;
}
